body {
    background-image: url('../image/ofis.jpg'); /* Устанавливаем фоновое изображение для всей страницы */
    background-size: cover; /* Устанавливаем размеры фона, чтобы он заполнял весь экран */
    background-position: center; /* Устанавливаем позицию фона в центре экрана */
    height: 100vh; /* Устанавливаем высоту для элемента body на полную высоту окна браузера */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для текста на странице */
    color: black; /* Устанавливаем цвет текста на странице */
    text-align: center; /* Центрируем текст внутри элемента body */
}

.background-overlay {
    position: absolute; /* Устанавливаем позицию элемента на экране */
    top: 50%; /* Устанавливаем верхнюю позицию элемента на ..% */
    left: 50%; /* Устанавливаем левую позицию элемента на ..% */
    transform: translate(-50%, -50%); /* Смещаем элемент на половину его ширины и высоты, чтобы центрировать */
    width: 80%; /* Устанавливаем ширину элемента на ..% от родительского контейнера */
    height: 100%; /* Устанавливаем высоту элемента на ..% от родительского контейнера */
    background-color: rgba(255, 255, 255, 0.7); /* Устанавливаем цвет фона с полупрозрачностью */
}

.container {
    position: relative; /* Устанавливаем позицию элемента на экране */
    z-index: 1; /* Устанавливаем уровень наложения элемента */
}

.content {
    position: relative; /* Устанавливаем позицию элемента на экране */
    z-index: 2; /* Устанавливаем уровень наложения элемента */
}

table {
    width: 40%; /* Устанавливаем ширину таблицы (можно настроить по необходимости) */
    max-width: 800px; /* Ограничиваем максимальную ширину таблицы */
    margin: 20px auto; /* Центрируем таблицу по горизонтали с отступом сверху */
    border-collapse: collapse; /* Объединяем границы ячеек для более аккуратного вида */
    background-color: rgba(255, 255, 255, 0.9); /* Устанавливаем фоновый цвет таблицы (можно настроить) */
}

th, td {
    border: 1px solid #ccc; /* Устанавливаем границы ячеек */
    padding: 10px; /* Устанавливаем внутренние отступы ячеек */
    text-align: left; /* Выравнивание текста в ячейках по левому краю */
}

th {
    background-color: #f2f2f2; /* Устанавливаем фоновый цвет для заголовков */
}
